@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 400ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', 'Inter', 'Helvetica';
}

*{
  transition: background-color var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);
}